<h1>Módosítás</h1>
<form class="form-horizontal col-lg-8 col-lg-offset-2"
      method="post">
  <fieldset>
    
    <head> 
    <meta http-equiv="content-type" content="text/xhtml; charset=utf-8" /> 
     
<script type="text/javascript">
    
    var teacherList = new Array(4) 
 teacherList["empty"] = ["Válasszon tanárt!"]; 
 teacherList["Diszkrét matematika"] = ["Németh Zsolt", "Nagy Gábor", "Filipp Zoltán"]; 
 teacherList["Diszkrét matematika 2"] = ["Tóth Viktória", "Mérai László", "Burcsi Péter"]; 
 teacherList["Programozási alapismeretek"] = ["Daiki Tenno", "László Ildikó", "Gregorics Tibor", "Iván Gergő"]; 
 teacherList["Alkalmazások fejlesztése"]= [ "Kereszti Krisztián", "Kereszti Zalán", "Horváth Győző"]; 
 
 
 function teacherChange(selectObj) { 
 
     var idx = selectObj.selectedIndex; 
     
     var which = selectObj.options[idx].value; 
     
     cList = teacherList[which]; 
     
     var cSelect = document.getElementById("oktato"); 
     
     var len=cSelect.options.length; 
     while (cSelect.options.length > 0) { 
         cSelect.remove(0); 
     } 
     var newOption; 
     // create new options 
     for (var i=0; i<cList.length; i++) { 
         newOption = document.createElement("option"); 
         newOption.value = cList[i];  // assumes option string and value are the same 
         newOption.text=cList[i]; 
         // add the new option 
         try { 
             cSelect.add(newOption);  // this will fail in DOM browsers but is needed for IE 
         } 
         catch (e) { 
             cSelect.appendChild(newOption); 
         } 
     } 
 } 
//]]>
</script>
</head>
<body>
  <noscript>This page requires JavaScript be available and enabled to function properly</noscript>
  
 <label for="targy" >Válasszon tárgyat!</label>
  <select name="nev" id="targy"  onchange="teacherChange(this);">
    <option value="empty">Válasszon tárgyat!</option>
    <option value="Diszkrét matematika">Diszkrét matematika</option>
    <option value="Diszkrét matematika 2">Diszkrét matematika 2</option>
    <option value="Programozási alapismeretek">Programozási alapismeretek</option>
    <option value="Alkalmazások fejlesztése">Alkalmazások fejlesztése</option>
  </select>
  <br/>
  <label for="oktato">Válasszon tanárt!</label>
  <select name="oktato" id="oktato">
    <option value="0">Válasszon tanárt!</option>
  </select>
  
      </div>
    
    <div class="form-group">
      <label for="datum" class="col-lg-2 control-label">megjegyzes: </label>
      <div class="col-lg-10">
        <input type="string" class="form-control" 
               name="megjegyzes" id="megjegyzes" value="{{data.megjegyzes}}">
      
      
    </div>
    <div class="form-group">
      <div class="col-lg-8 col-lg-offset-2">
        <button type="reset" class="btn btn-default pull-left">Mégse</button>
        <button type="submit" class="btn btn-primary pull-right">Módosítás</button>
      </div>
    </div>
  </fieldset>
</form>