<h1>Az alkalmazásról</h1>
<br><br>
<blockquote>
    GD
</blockquote>
<br><br>
<div class="panel panel-default">
    <div class="panel-body">
        <p>Az alkalmazással megszeretném könnyíteni a diákoknak a tanárgyfelvételt.
        Remélem mindenkinek tetszeni fog!
        Használjátok ügyesen! :)</p>
    </div>
</div>